#Sample name
sample='sample1'

#rNMP sequencing technique ('ribose-seq', 'emRiboSeq', 'RHII-HydEn-seq', 'Alk-HydEn-seq', or 'Pu-seq')
technique='ribose-seq'

#Path to output repository
repository='path/to/output'

#Basename of Bowtie2 genome index files
basename='/filepath/sacCer2'

#FASTA file of reference genome sequence
fasta='/filepath/sacCer2.fa'

#Path to FASTQ file of sequencing read 1
read1='/filepath/sample1_1.fastq'

#Path to FASTQ file of sequencing read 2
read1='/filepath/sample1_2.fastq'

quality: Minimum quality score cut-off for filtering reads (quality='0')
threads: Number of threads to use for Bowtie2 and SAMtools (threads='4')
scale: Use same scale for all plots produced by Distribution Module (scale='no')
seed: Seed size to use for Bowtie2 alignment (seed='123456789')

other: Name of sequences in FASTA file other than nuclear and mito (other='chloroplast plasmid')

#Required if technique='emRiboSeq, HydEn-seq, or Pu-seq'
check: Check and remove coordinates from BED file that exceed length of chromosome (check='yes')

#Optional Parameters
#pattern: UMI/barcode pattern; N=random base, X=fixed base
pattern='NNNNNNXXXNN'

#barcode: Nucleotide sequence of molecular barcode in reads
barcode='TCA'
