#Sample name
sample='sample1'

#rNMP sequencing technique
technique='ribose-seq'
#technique='emRiboSeq'
#technique='RHII-HydEn-seq'
#technique='Alk-HydEn-seq'
#technique='Pu-seq'

#Path to output repository
repository='path/to/output'

#Basename of Bowtie2 genome index files
basename='path/to/sacCer2'

#FASTA file of reference genome sequence
fasta='path/to/sacCer2.fa'

#Path to FASTQ file of sequencing read 1
read1='path/to/sample1_1.fastq'

#Path to FASTQ file of sequencing read 2
read2='path/to/sample1_2.fastq'

#Minimum quality score cut-off for filtering reads
quality='0'

#Number of threads to use for Bowtie2 and SAMtools
threads='4'

#Use same y-axis scale for all plots output by Distribution Module
scale='yes'
#scale='no'

#Seed size for Bowtie2
seed='123456789'

#Name of genomic units in reference genome to analyze individually
other='chrM chrX chrY'

#Required if technique='emRiboSeq', 'HydEn-seq', or 'Pu-seq'
#Check if genomic coordinates of rNMPs are within bounds of chromosome. If they are not,
#the Coordinate Module will remove the biologically meaningless coordinates from output
check='yes'

#Optional Parameters
#UMI/barcode pattern; N=random base, X=fixed base
pattern='NNNNNNXXXNN'

#Nucleotide sequence of molecular barcode in reads
barcode='TCA'
