sample='SRR11364933'

barcode='TCA'
pattern='NNNNNNXXXNN'
technique='ribose-seq'

repository='path/to/output'

basename='path/to/sacCer2'
fasta='path/to/sacCer2.fa'

read1='path/to/SRR11364933_trimmed.fq'

quality='0'
threads='4'

seed='123456789'

percentile='0.99'

mismatches='0'

units='chrM 2micron'
