#Sample name
sample='SRR1734967'

#rNMP sequencing technique
technique='emRiboSeq'

#Path to output repository
repository='path/to/output'

#Basename of Bowtie2 genome index files
basename='path/to/sacCer2'

#FASTA file of reference genome sequence
fasta='path/to/sacCer2.fa'

#Path to FASTQ file of sequencing read 1
read1='path/to/.fastq'

#Minimum quality score cut-off for filtering reads
quality='0'

#Number of threads to use for Bowtie2 and SAMtools
threads='4'

#Use same y-axis scale for all plots output by Distribution Module
scale='yes'

#Seed size for Bowtie2
seed='123456789'

#Name of genomic units in reference genome to analyze individually
other='chrM'
